#welcome-summer .card {
    box-shadow: 0px 0px 5px rgb(199, 199, 199);
}

#jumbo-carousel {
    box-shadow: 10px 5px 2cap rgb(196, 196, 196);
}

#content {
    width: 95%;
    margin: auto;
}

@media (max-width: 576px) {
    .jumbotron {
        display: none;
    }
    #daily-offer, #daily-offer-link {
        display: none;
    }
    .card-text {
        display: none;
    }
    #address{
        display: none;
    }
}
